<% bs = @lessonplan.sections.order(:start_page) %>

<h3>Choose sections to teach in class:</h3>

   <% 4.times do |n| %>
    <% current = bs[n].id if bs[n] %>

    <%= select_tag("section#{n}", options_from_collection_for_select(Section.assignable,:id,:name, current), prompt: "Select Section", class: "form-control") %>
    <br>
  <% end %>

  <div class="form-group">
    <%= label_tag :notes, "Plan for Session" %>
    <%= text_area_tag :notes, @lessonplan.notes, rows: 10, class: "form-control" %>
  </div>
  <br>
  <% 4.times do |n| %>
    <% current = @homework_sections[n].id if @homework_sections && @homework_sections[n] %>

    <%= select_tag("homework#{n}", options_from_collection_for_select(Section.assignable,:id,:name, current), prompt: "Assign Homework", class: "form-control") %>
    <% if current %>
    <% end %>
    <%= check_box_tag "second_try#{n}", 1, (@second_try[@homework_sections[n].segment] if current) %>
    <%= label_tag "Ask for second try" %>
    <br>
  <% end %>
  <div class="form-group">
    <%= label_tag :vocab_hw, "Vocabulary Homework (in addition to flashcards)" %>
    <%= text_area_tag :vocab_hw, @lessonplan.vocab_hw, rows: 5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :other_hw, "Other Homework" %>
    <%= text_area_tag :other_hw, @lessonplan.other_hw, rows: 10, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :post_notes, "Post-Session Notes" %>
    <%= text_area_tag :post_notes, @lessonplan.post_notes, rows: 10, class: "form-control" %>
  </div>
  <br>