<% provide(:title, "Homework #{@lessonplan.number}") %>

<div class="row">
  <div class="col-xs-6">
    <strong><%="Homework \##{@lessonplan.number}"%></strong><br>
    <em>E-mail me if you have any questions or need help!</em><br>
    <em>Remember to include KingsbridgeSAT & <%= @current_user.site.cp_nickname %> on the e-mail!</em><br>
  </div> 
  <div class="col-xs-offset-8">
    <%= current_user.email_for_students %><br>
    <%= current_user.site.leader_email %><br>
    <%= current_user.site.cp_email%><br>
  </div>
</div>
<br><br>


<div class="col-xs-10">
  <p class="hw-header">Vocabulary</p>
  <ul class="hw-section">
    <li> Make flashcards for and learn this week's words from the Vocabulary Book. </li>
    <% unless @lessonplan.vocab_hw.nil? || @lessonplan.vocab_hw == "" %>
      <li> <%= @lessonplan.vocab_hw %></li>
      <li> "Reply All" to SAT Vocabulary Homework #<%=@lessonplan.number %> email with your work by <strong><%=(@lessonplan.group_meeting.date + 6.days).strftime("%A, %B %e")%></strong>.</li>
    <% end %>
  </ul>

  <% @homeworks.each do |hw| %>
    <p class="hw-header"><%= hw.segment.name %></p>
    <ul class="hw-section">
      <% hw.sections.each do |s| %>
      <li> Do all questions on <%= s.page_range %> of Kaplan Book. </li> 
      <%end%>
      <li> "Reply All" to SAT <%= hw.segment.name%> Homework #<%=@lessonplan.number %> email with your answers by <% if hw.second_try? %>
          <strong><%=(@lessonplan.group_meeting.date + 5.days).strftime("%A, %B %e")%></strong>.  Then "Reply All" again with answers to any questions that you missed by 
          <% end %>
          <strong><%=(@lessonplan.group_meeting.date + 6.days).strftime("%A, %B %e")%></strong>.</li>
    </ul>
  <%end %>

  </div>
</div>

