<% provide(:title, Homework) %>

<h1 class="secondary">Send Homework Emails<br>
  <small>Homework #<%= @lessonplan.number %></small>
</h1>

<%= form_tag send_hw_emails_lesson_plan_path(@lessonplan) do %>
  <% unless @lessonplan.vocab_hw.nil? or @lessonplan.vocab_hw == "" %>
    <h4 class="primary">Vocabulary #<%= @lessonplan.number%></h4>
    <h5 class="strong">Send to:</h5>
    <%= render 'student_checkboxes', students: @tutor.students, hw:"vocab" %>
    <h5 class="strong">Assignment:</h5>
    <p>
      <%=@lessonplan.vocab_hw%>
    </p>
    <div class="form-group">
      <%= label_tag "vocab[message]", "Message to students" %>
      <%= text_area_tag "vocab[message]", default_message(Segment.find_by(name: Vocabulary)), rows: 10, class: "form-control" %>
    </div>
  <% end %>

  <% @homeworks.each do |hw| %>
    <h4 class="primary"><%= hw.name %></h4>
    <h5 class="strong">Send to:</h5>
    <%= render 'student_checkboxes', students: @tutor.students, hw:hw.id %>
    <h5 class="strong">Assignment:</h5>
    <% hw.sections.each do |section|%>
      <p>
        <%=section.name%>
      </p>
    <% end %>

    <div class="form-group">
      <%= label_tag "#{hw.id}[message]", "Message to students" %>
      <%= text_area_tag "#{hw.id}[message]", default_message(hw.segment), rows: 10, class: "form-control" %>
    </div>
  <% end %>

  <%= submit_tag "Send Emails", class: "btn btn-primary" %>
<% end %>