   <table class="table table-score">
    <% current_tests = Test.kaplan_taken(student) %>
      <thead>
        <th></th>
        <% tests.each do |t| %>
          <th><%=t.short_name %></th>
        <% end %>
        <th>Change</th>
      </thead>
      <% segments.each do |seg| %>
      <tr>
        <td><%=seg.name%> Correct</td>
        <% tests.each do |test| %>
          <% if student.took?(test) %>
            <td><%=student.my_raw_score(test,seg)[:correct]%></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
         <td></td>
      </tr>
      <tr>
        <td><%=seg.name%> Incorrect</td>
        <% tests.each do |test| %>
          <% if student.took?(test) %>
            <td><%=student.my_raw_score(test,seg)[:incorrect]%></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td></td>
      </tr>
      <tr>
        <td><%=seg.name%> Omitted</td>
        <% tests.each do |test| %>
          <% if student.took?(test) %>
            <td><%=student.my_raw_score(test,seg)[:omitted]%></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
         <td></td>
      </tr>
      <tr>
        <th><%=seg.name%> Raw Score</th>
        <% tests.each do |test| %>
          <% if student.took?(test) %>
            <td><strong><a href=<%= test_segment_student_segment_performance_path(test,seg,student)
            %> rel="tooltip" data-toggle="tooltip" title="See Performance by Topic" data-placement="bottom">
              <% case seg.name %>
              <% when "Math" %>
                <%=raw_scores[test].first.math%>
              <% when "Reading" %>
                <%=raw_scores[test].first.reading%>
              <% when "Writing" %>
                <%=raw_scores[test].first.writing%>
              <% end %>
            </a></strong></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td><strong><%= student.my_raw_score(current_tests.last,seg)[:score] - student.my_raw_score(current_tests.first,seg)[:score] unless current_tests.empty? %></strong></td>
      </tr>
      <% end %>
    </table>


<script type="text/javascript">
  $(function () {
      $('a[rel=tooltip]').tooltip();
  });
</script>