<h1>Check homework for <%= @student.full_name %></h1>

  <%= form_tag checked_homework_student_path(@student) do %>
   <%= hidden_field_tag :hw, @hw.id %>
  
  <table class = "table">
    <th>
      <td>Question #</td>
      <td>Answer</td>
    </th>
    <% @hw.hw_questions.each do |q| %>
    <tr>
      <td><%=q.question_num%><td>
      <td><%= text_field_tag q.id %></td>
    </tr>
    <% end %>
  </table>

  <%= submit_tag "Check homework" %>
  <% end %>


