<h1 class="secondary">Enter Answers for <%= @student.full_name %><br>
<small><%= @test.name %></small></h1>

  <%= form_tag entered_answers_test_student_path(@test, @student) do %>
  <table class = "table">
    <th>
      <td>Section</td>
      <td>Question</td>
      <td>Correct Answer</td>
      <td>Student Answer</td>
    </th>
    <% @questions.each do |q| %>
    <tr>
      <td><%=q.section.section_num%><td>
      <td><%=q.question_num%></td>
      <td><%=q.correct_answer%></td>
      <td><%= text_field_tag "#{q.id}", q.student_answer(@student) %></td>
    </tr>
    <% end %>
  </table>

  <%= submit_tag "Save Answers", class: "btn btn-primary" %>
  <% end %>


