<% provide(:title, "Matrix for #{@student.full_name}") %>

<h1><%= link_to @student.full_name, @student, class: "secondary" %><br> 
<small>Hit-Try Matrix</small></h1>
<br>

<% @segments.each do |seg| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title"><%=seg.name%></h2>
    </div>
    <div class="panel-body">
    <% @tests.each do |test| %>
      <h5><strong><%=test.name%>:</strong> Your try rate was <%=@student.try_rate(test,seg)%>% and your hit rate was <%=@student.hit_rate(test,seg)%>%.</h5>
    <% end %>

    <h5 class="center"><b>Try Rate</b></h5>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Hit Rate</th>
          <% @try_range.each do |try| %>
            <th><%=try %>%</th>
          <% end %>
        </tr>
      </thead>
      </tbody>  
      <% @hit_range.each do |hit| %>
        <tr>
          <th><%=hit %>%</th>
          <% @try_range.each do |try| %>
            <td <%='class=td-bordered' if @boxes[seg].include?([hit,try])%>><%= @conversion.scale(seg,hit,try) %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  </div>
<% end %>



