<h1>Homework results for <%= @student.full_name %></h1>
<h2>Assignment <%= "page #{@hw.start_page} - #{@hw.end_page}" %></h2>
<a class="btn btn-primary" href="send_hints_path(@student,@hw)">Send Hints</a>  

  
<table class = "table">
  <th>
    <td>Question #</td>
    <td>Correct Answer</td>
    <td>Student Answer</td>
    <td>Correct?</td>
  </th>
  <% @hw.hw_questions.each do |q| %>
  <tr>
    <td><%=q.question_num%><td>
    <td><%=q.correct_answer%><td>
    <td><%= q.student_answer(@student) %></td>
    <td><% if q.correct?(@student) %>
      YES
      <% else %>
      NO
    <%end %></td>
  </tr>
  <% end %>
</table>


