<% provide(:title, @student.full_name) %>

<%= render 'shared/student_header_nav', student: @student, active_tab: "info" %>
<div class="row">
  <div class="col-sm-3"> 
    <%= image_tag @student.avatar.url(:small), class: "profile-pic"%>
  </div>
  <div class="col-sm-9">
    <h3>Test Results</h3>
      <%= render 'individual_student_score_table', student: @student, tests: @tests, scores: @scores, segments: @segments %>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 h4">
    <br>
    <p><span class="gray">Email:  </span> <%= mail_to @student.email, @student.email, class: "secondary" %></p>
    <% if @student.tutor %>
    <p><span class="gray">Tutor:  </span><%= link_to "#{@student.tutor.full_name}", tutor_path(@student.tutor), class: "secondary" %> </p>
    <% end %>
    <p><span class="gray">High School:  </span> <span class="secondary"><%= @student.high_school %></span></p>
  </div>
</div>
  


