<% provide(:title,"New Tutor")%>

<h1 class="secondary"> Create New Tutor</h1>

<div class="col-sm-5 col-md-offset-1">
  <%= form_for @tutor do |f| %>
    <div class= "form-group">
      <%=f.label :site_id, "Site" %>
      <%=f.collection_select :site_id, Site.all, :id, :name,{}, {class: "form-control"} %>
    </div>
    <%= render 'fields', f: f %>

    <br>
    <%=f.submit "Create Tutor", class: "btn btn-primary" %>
  <% end %>
</div>
