<% provide(:title, @tutor.full_name) %>

<%= render 'shared/tutor_header_nav', tutor: @tutor, active_tab: "scores" %>

<h4 class="secondary">Scaled Scores</h4>
<%= render 'shared/student_score_table', student_list: @students, tests: @tests, scores: @scores %>

<h4 class="secondary">Raw Scores</h4>
<%= render 'shared/student_raw_score_table', student_list: @students, tests: @tests %>

<% @tests.each do |t| %>
  <p>
  <%= link_to "View Group Answers for #{t.name}", tutor_test_path(@tutor, t) %>
  </p>
  <% Segment.all_test.each do |s| %>
    <p>
      <%= link_to "View #{s.name} Group Performance by Topic for #{t.name}", test_segment_tutor_segment_performance_path(t,s,@tutor) %>
    </p>
  <% end %>
<% end %>