<% performance.each do |topic, categories| %>
  <h3>Topic #<%=topic %></h3>
  <table class="table">
    <thead>
      <tr>
        <th width="30%">Category</th>
        <th width="15%">Correct</th>
        <th width="15%">Incorrect</th>
        <th width="15%">Omitted</th>
        <th width="15%"># of Questions</th>
      </tr>
    </thead>
    <tbody>
      <%categories.each do |c, results|%>
      <tr>
        <td><%=c%></td>
        <td><%=results[:correct]*results[:count]/100%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><%=results[:correct]%>%</em></td>
        <td><%=results[:incorrect]*results[:count]/100%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><%=results[:incorrect]%>%</em></td>
        <td><%=results[:omitted]*results[:count]/100%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><%=results[:omitted]%>%</em></td>
        <td><%=results[:count]%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
<% end %>