<% performance.each do |topic, categories| %>
  <h3>Topic #<%=topic %></h3>
  <table class="table">
    <thead>
      <tr>
        <th width="30%">Category</th>
        <th width="15%">Correct</th>
        <th width="15%">Incorrect</th>
        <th width="15%">Omitted</th>
        <th width="15%"># of Questions</th>
      </tr>
    </thead>
    <tbody>
      <%categories.each do |c, results|%>
      <tr>
        <% cat = Category.find_by(name: c) %>
        <td><a data-toggle="collapse" href=<%="\#show-#{cat.id}"%>><%=c%></a></td>
        <%= render 'shared/results_row', results: results, single: students.count == 1 %>
      </tr>
      <tr>

         <td colspan="5" id="show-<%=cat.id%>" class="collapse">
          <%=render 'shared/category_table', students: students, questions: test.questions.where(category: cat).order(:difficulty_num, :section_id, :question_num)%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
<% end %>