<h3>Students</h3>    
<table class="table">
  <thead>
    <th>Name</th>
    <% if show_tutor %>
    <th>Tutor</th>
    <% end %>
    <th>Email</th>
    <th>High School<th>
  </thead>
  <% student_list.each do |s| %>
  <tr>
    <td><%=image_tag s.avatar.url(:thumb)%> <%=link_to s.full_name, student_path(s) %></td>
    <% if show_tutor %>
      <td><%= link_to s.tutor.first_name, tutor_path(s.tutor) %></td>
    <% end %>
    <td><%=s.email%></td>
    <td><%=s.high_school %></td>
    <td><%=link_to "edit", edit_student_path(s) %></td>
  </tr>
  <% end %>
</table>