<h1>Homework results for <%= @student.full_name %></h1>
<h2>Assignment <%= "page #{@hw.start_page} - #{@hw.end_page}" %></h2>
<%=link_to "Send Hints", [:send_hints, @student, @hw], class: "btn btn-primary" %>

  
<table class = "table">
  <tr>
    <th>Question #</th>
    <th>Correct Answer</th>
    <th>Student Answer</th>
    <th>Correct?</th>
  </tr>
  <% @hw.hw_questions.each do |q| %>
    <tr>
      <td><%=q.question_num%></td>
      <td><%=q.correct_answer%></td>
      <td><%= q.student_answer(@student) %></td>
      <td>
        <% if q.correct?(@student) %> YES
        <% else %> NO
        <%end %>
      </td>
    </tr>
  <% end %>
</table>


