
<h1>Send hints to  <%= @student.full_name %></h1>
<h2><%= @section.name %></h2>

<table class = "table">
  <tr>
    <th>Question #</th>
    <th>Correct Answer</th>
    <th>Student Answer</th>
    <th>Hint</th>
  </tr>
  <% @section.book_questions.each do |q| %>
    <% unless q.correct?(@student) %>
    <tr>
      <td><%=q.question_num%></td>
      <td><%=q.correct_answer%></td>
      <td><%= q.student_answer(@student) %></td>
      <td><% if q.hw_hints.first %>
          <%= q.hw_hints.first.hint %>
          <% else %>
          <%= link_to "Write hint", new_book_question_hw_hint_path(q) %>
          <% end %>
      </td>
    </tr>
    <%end%>
  <% end %>
</table>

<%= form_tag [:send_email, @student, @section] do %>
  <div class="form-group">
    <%= label_tag :message, "Message to Student" %>
    <%= text_area_tag :message, @message_default, rows: 10, class: "form-control" %>
  </div>
  <%= submit_tag "Send email", class: "btn btn-primary" %>
<% end %>


