<h1 class="secondary">Hints<br>
  <small>Question #<%= @question.question_num %>, <%= @question.section.name %></small></h1>

<h4>The correct answer is <%= @question.correct_answer %>.<br>
<%=@student.first_name%>'s answer was <%=@question.student_answer(@student)%>.</h4>

<%= form_tag choose_hint_question_assignment_hw_hints_path(@question,@assignment) do %>
  <% if @question.hw_hints.empty? %>
    No hints written yet
    <div class="radio">
      <table class="table">
  <% else %>
    <table class="table">
      <thead>
        <th>Choose Hint</th>
        <th>For Wrong Answer</th>
        <th>Hint</th>
        <th>Written By</th>
      </thead>
      <div class="radio"> 
        <% @question.hw_hints.each do |h| %>
          <tr>
            <td><input type="radio" name="hint" value=<%=h.id%>></td>
            <td><%=h.answer_choice%></td>
            <td><%=h.hint%></td>
            <td class="subtle"><%=h.tutor.full_name%></td>
            <% if h.tutor == current_user %>
              <td><%= link_to "edit", edit_hw_hint_path(h) %>
              </td>
            <%end%>
          </tr>
        <%end%>
  <% end %>
      <tr>
        <th>Write New</th>
        <th>Answer-Specific?</th>
        <th>Hint</th>
      </tr>
      <tr>
        <td><input type="radio" name="hint" value="new" checked></td>
        <td><input type="text" name="answer_choice" class="form-control"></td>
        <td><textarea name="hint_text" rows="5" class="form-control"></textarea></td>
      </tr>
    </div>
      <tr>
        <td></td>
        <td></td>
        <td>
          <div class="panel panel-secondary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href=<%="\#help"%>>
                    How can I type math symbols?
                </a>
              </h4>
            </div>
            <div id="help" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <th>Symbol</th>
                    <th>Mac</th>
                    <th>PC</th>
                  </thead>
                  <tr>
                    <td>√</td>
                    <td>Option + V</td>
                    <td>ALT + 251<br>
                      (must use number pad)</td>
                  </tr>
                  <tr>
                    <td>π</td>
                    <td>Option + P</td>
                    <td>ALT + 227<br>
                      (must use number pad)</td>
                  <tr>
                  <tr>
                    <td>Exponents</td>
                    <td>Menubar: Edit > Special Characters<br>
                      Choose Digits-All, which will give you access to superscript and subscript 0-9.  (There are some other useful symbols in Math Symbols.  You may need to click the gearwheel and "Customize List" to add Digits-All and Math Symbols.) </td>
                    <td>² = ALT + 253<br>
                      ³ = ALT + 0179<br>
                      Again, you must use the number pad.  For other exponents & symbols, you may want to type them in Word and then copy-paste.
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </td>
      </tr>
  </table>
  <%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>

<br>
<br>
<div class="col-sm-5 col-sm-offset1">
  




