<h1 class="secondary">Homework results for <%= @student.full_name %><br>
<small><%= @hw.name %></small></h1>
<%=link_to "Send Hints", send_hints_student_homework_path(@student, @hw), class: "btn btn-primary" %>
<br><br>
<% @hw.sections.each do |section| %>
  <strong><%= section.name %></strong> 
  <table class = "table">
    <tr>
      <th>Question #</th>
      <th>Correct Answer</th>
      <th><%= @student.first_name %> Answer</th>
      <th>Correct?</th>
      <% if @hw.second_try? %>
        <th>Second Try</th>
        <th>Second Try Correct?</th>
      <% end %>
    </tr>
    <% section.questions.each do |q| %>
      <tr>
        <td><%=q.question_num%></td>
        <td><%=q.correct_answer%></td>
        <td><%= q.student_answer(@student) %></td>
        <td>
          <% if q.correct?(@student) %>YES
          <% else %> <span class="wrong">NO</span>
          <% end %>
        </td>
        <% if @hw.second_try %>
          <td><%= q.second_try(@student) %></td>
          <td><% if q.second_correct?(@student) %>YES
            <% elsif q.second_try(@student) %> <span class="wrong">NO</span>
            <%end%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<%end %>
<%=link_to "Send Hints", send_hints_student_homework_path(@student, @hw), class: "btn btn-primary" %>



