
<h1 class="secondary">Send hints to  <%= @student.full_name %><br>
<small><%= @hw.name %></small></h2>

<% @hw.sections.each do |section| %>
  <h4><%=section.name %></h4>
  <table class = "table">
    <tr>
      <th width="10%">Question #</th>
      <th width="10%">Correct Answer</th>
      <th width="10%">Student Answer</th>
      <th width="55%">Hint</th>
      <th width="15%"></th>
    </tr>
    <% section.questions.each do |q| %>
      <% unless q.correct?(@student) %>
      <tr>
        <td><%=q.question_num%></td>
        <td><%=q.correct_answer%></td>
        <td><%= q.student_answer(@student) %></td>
        <td>
          <% hint = HwHint.best(q, @student, current_user, @assignment)%>
          <%= render 'shared/hint_display', hint: hint, q: q %>
        </td>
        <td>
          <% if hint %>
            <%= link_to "See all hints or write your own", question_assignment_hw_hints_path(q,@assignment) %>
          <%end%>
        </td>
      </tr>
      <%end%>
    <% end %>
  </table>
<% end %>

<%= form_tag [:send_email, @student, @hw] do %>
  <div class="form-group">
    <%= label_tag :message, "Message to Student" %>
    <%= text_area_tag :message, @message_default, rows: 10, class: "form-control" %>
  </div>
  <%= submit_tag "Send email", class: "btn btn-primary" %>
<% end %>


