<h1>Send hints to  <%= @student.full_name %></h1>
<h2>Assignment <%= "page #{@hw.start_page} - #{@hw.end_page}" %></h2>

<table class = "table">
  <tr>
    <th>Question #</th>
    <th>Correct Answer</th>
    <th>Student Answer</th>
  </tr>
  <% @hw.hw_questions.each do |q| %>
    <% unless q.correct?(@student) %>
    <tr>
      <td><%=q.question_num%></td>
      <td><%=q.correct_answer%></td>
      <td><%= q.student_answer(@student) %></td>
      <td><% if q.hw_hints.first %>
          <%= q.hw_hints.first %>
          <% else %>
          <%= link_to "Write hint", "#" %>
          <% end %>
      </td>
    </tr>
    <%end%>
  <% end %>
</table>


