<% provide(:title, @test.name) %>

<h1 class="secondary">Edit <%=@test.name %></h1>
<%= form_tag test_path(@test), method: :put do %>
  <%=label_tag :assignable, "Assignable?" %>
  <%=check_box_tag :assignable, "assignable", @test.assignable? %>
  <%=submit_tag "Save", class: "btn btn-primary" %>
<% end %>
