<% provide(:title, "Enter Scores") %>
<h1>Enter Scores for <%=@site.name %></h1>

<%= form_tag entered_scores_site_path(@site) do %>
  <%= select_tag("test", options_from_collection_for_select(Test.all,"id","name"), :prompt => "Select Test") %>
  <table class = "table">
    <th>
      <td>Student</td>
      <td>Math</td>
      <td>Reading</td>
      <td>Writing</td>
    </th>
    <% @site.students.each do |student| %>
    <tr>
      <td><%=student.full_name%><td>
      <td><%=text_field_tag "#{student.id}[Math]"%></td>
      <td><%= text_field_tag "#{student.id}[Reading]" %></td>
      <td><%= text_field_tag "#{student.id}[Writing]" %></td>
    </tr>
    <% end %>
  </table>

  <%= submit_tag "Submit Scores" %>
  <% end %>